doctype html
html(lang='eng')
  head
    title Application
    link(rel='stylesheet', type='text/css', href='styles/home.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet', type='text/css')
  body
    #app
      h2 Feed App
      #messages
        .card
          .text afsfasdfdfsadfsdfsafdf
          .user
            .name changjef
      // Creates the button
      footer
        input#textbox(type='text', placeholder='Enter your message.')
        #button
          #text
            | SUBMIT
    button(onclick="newCard('text','user')")  adfsdfdf
    script(src='js/new_card.js', type='text/javascript')
