body {
    background-color: #F3ECE2;
}

div#app {
    position: relative;
    color: white;
    background-color:#BFDECF;
    max-width:1000px;
    border-radius: 15px;
    margin:30px auto;
    padding: 10px;
    box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    
}
div#app > h2 {
    position:relative
    max-width: 150px;
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px auto;
}
div#app > div#messages > div.card {
    position:relative;
    font-family: 'Roboto Condensed', sans-serif;
    display:block;
    margin: 10px;
    height: 80px;
    max-height: 120px;
    background-color: white;
    color: black;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
div#app > div#messages > div.card > div.user {
    position: absolute;
    background-color:skyblue;
    bottom:0;
    right:0;
    left: 0;
    height:30px;
    max-height: 45px;
    
}
div#app > div#messages > div.card > div.text {
    position: relative;
    top: 30%;
    margin-left: 10px;
    transform: translateY(-50%);
    border-style:none;
    font-size: 18pt;
    text-overflow:ellipsis;
}
div#app > div#messages > div.card > div.user > div.name {
    position:relative;
    margin: 5px 10px 15px 10px;
    font-size: 14pt;
    color:azure;
        
}

div#app > footer > input#textbox {
    position: relative;
    display: inline-block;
    box-sizing:border-box;
    
    margin-right:10px;
    margin-left: 10px;
    margin-top: 20px;
    height: 40px;
    max-height: 55px;

    width: 800px;
    max-width: 1000px;
    font-size:18pt;
    padding:10px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    
    
}
button {
    border-style: solid;
    border-width: medium;
    border-color: white;
    display: inline-block;
    background-color: inherit;
    color: white;
    width: 110px;
    max-width: 130px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12pt;
    height: 40px;
    max-height: 55px;
    margin-left: 25px;
    height: 40px;
    padding: 15px;
    
}

div#register {
    position: relative;
    color: black;
    
    width:300px;
    margin:40px auto;
}
div#register button {
    color:salmon;
    padding:15px;
    border-color: salmon;
    padding-bottom: 10px;
    height: 60px;
    max-height: 60px;
}
form#form {

    font-family: 'Roboto Condensed', sans-serif;

    height: 300px;
    max-height: 1000px;
    background-color: white;
    color: black;
    width:400px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    margin: -35% auto;
    padding: 30px;
}
div#form_text input{
    width: 90%;
    height:40px;
    margin-bottom: 30px;
}
form button{
    color:black;
    padding:15px;
    border-color: black;
    border-width: 1px;
    padding-bottom: 10px;
    height: 50px;
    max-height: 60px;
    width:110px;
    display: block;
    margin: 0 auto;
}
#dialog {
    width:500px;
    position: fixed;
    background-color:#D4A16A;
    padding:20px;
    color:white;
    font-family: 'Roboto Condensed';
    
    z-index:200;
    margin: 2% auto;
    left: 0;
    right: 0;
    bottom:50px;
    border-radius: 15px;

    
}
